.fadeInLeft{
    -webkit-animation-duration: 0.8s;
}

.fadeInRight{
    -webkit-animation-duration: 0.8s;
}
#contact .fadeIn{
    -webkit-animation-delay: 0.5s;
}
#skills .fadeIn{
    -webkit-animation-delay:0.5s;
}