@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600;700;800&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
img{
    max-width: 100%;
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    z-index: 1000;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


nav {
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 4vw;
    
}
nav a{
    color: black;
    text-decoration: none;
    font-weight: 7600;
}
nav a:hover{
    border-bottom: #d1bb7f 5px solid;
}
nav img{
    max-height: 50px;
    align-self: flex-start;
    margin-left: 30px;
}




#welcome-section{
    /* background-image: url("imgs/bg1.jpg");
    background-position-y: 10%;
    background-size: 2000px;
    background-repeat: no-repeat; */
    color:black;
    /* background-size: cover;  */

}
    #welcome-section .text-wrapper{
        margin-top: 27vh;
    }
    #welcome-section p{
        margin-top: 10%;
        font-weight: 400;
        font-size: 1.3em;
    }
    h1{
        margin-top:0;
        margin-bottom: 0;
        font-size: 3em;
        font-weight: 500;
    }
    h1 strong{
        font-size:1.3em;
    }
    h3{
        font-weight: 500;
        font-size: 1.5em;
    }
    h3 span{
        font-weight: 600;
        font-size: 1.1em;
        color:rgb(207, 160, 102);
        color:#983443;
    }
    #welcome-img{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("imgs/bg1.jpg");
        background-position-y: 10%;
        background-size: 2000px;
         background-repeat: no-repeat;
         z-index: -1;
      }
h2{
    font-size: 3em;
    font-weight:600 ;
}
    #arrow{
        margin-top: 85vh;
        color:white;
        position: absolute;
    }

    #span-arrow {
        position: absolute;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 3px solid rgb(68, 24, 24);
        border-bottom: 3px solid rgb(51, 13, 13);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
        box-shadow: rgba(204, 204, 204, 0.644) 0px 4px 12px;
    }
    #arrow:hover{
        margin-top: 84.5vh;
    }






#about-me{
    background-color:#53151f;
    color: white;
    min-height: 70vh;
    padding:20px;
    margin-bottom: 0;
    border: #53151f solid 10px;

}
    #about-me .content-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }
    #about-me h2{
        margin-bottom: 50px;
        color: rgb(250, 200, 139);
    }
    #about-pic{
        width: 300px;
        height: 351px;
        margin-right: 5%;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        filter: brightness(150%) grayscale(100) contrast(110%);
    }
    #about-pic:hover{
        filter: none;
    }
    #about-text{
        width: 50%;
        line-height: 200%;
        margin-top: 0;
    }

#skills{
    background-color: rgb(15, 15, 15);
    margin-top: 0;
    justify-content: start;
    color: white;
    padding-top: 100px;
    max-height: 100vh;
    min-height: 0;
    padding-bottom: 15vh;
    
}
    #skills .content-wrapper{
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20vh;
        max-height: 80vh;
    }
    .skill-card{
        max-width:120px;
        margin: 2vw;
        flex-shrink: 5;
    }
    .skill-logo{
        filter: sepia(100);
    }
    .skill-card:hover{
        max-width:130px;
    }
    .skill-logo:hover{
        filter: none;
    }

#projects{
    color: black;
    padding-top: 20px;
    background-color: white;
    /* align-items: flex-start; */
    padding:40px;
}
    #projects h2{
        align-self: center;
    }

    #projects h4{
        font-size: larger;
    }
    .project-tile{
        display: flex;
        max-width: 1100px;
        margin: 20px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .project-photo{
        max-width:370px;
        margin-right: 40px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .project-pic{
        min-width:370px;
        min-height:208px;
        margin-right: 40px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    }
    .project-pic:hover{
        min-width: 450px;
        min-height:253px;
        flex-shrink: 2;
    }
    #holdlots{
        background:linear-gradient(0deg, rgba(66, 17, 17, 0.35),rgba(66, 17, 17, 0.35)), url("imgs/project/holdlots.PNG");
        background-size: cover;
    }
    #holdlots:hover{
        background:url("imgs/project/holdlots.PNG");
        background-size: cover;
    }

    #yelpcamp{
        background:linear-gradient(0deg, rgba(66, 17, 17, 0.35),rgba(66, 17, 17, 0.35)), url("imgs/project/yelpcamp.PNG");
        background-size: cover;
    }
    #yelpcamp:hover{
        background:url("imgs/project/yelpcamp.PNG");
        background-size: cover;
    }

    #randomperson{
        background:linear-gradient(0deg, rgba(66, 17, 17, 0.7),rgba(66, 17, 17, 0.7)), url("imgs/project/randomperson.PNG");
        background-size: cover;
    }
    #randomperson:hover{
        background:url("imgs/project/randomperson.PNG");
        background-size: cover;
    }
    #productlanding{
        background:linear-gradient(0deg, rgba(66, 17, 17, 0.35),rgba(66, 17, 17, 0.35)), url("imgs/project/productlanding.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #productlanding:hover{
        background:url("imgs/project/productlanding.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .project-photo:hover{
        border:#d1bb7f solid 10px;
    }
    .project-desc{
        max-width: 50%;
        min-width: 20%;
    }
    .project-link{
        text-decoration: none;
        font-family: 'Source Code Pro', monospace;
        font-weight: 800;
        margin-right: 30px;
        /* color: #b93e51; */
        color:rgb(207, 160, 102);
        padding:5px;
        
        
    }
    .project-link:hover{
        border-radius: 10px;
        background-color: rgba(219, 217, 217, 0.336);
    }

#contact{
    background:linear-gradient(0deg, rgba(66, 17, 17, 0.9), rgba(66, 17, 17, 0.9)), url("imgs/bg1.jpg");
    background-position-y: 50%;
    background-size: 2000px;
    background-repeat: no-repeat;
    color:white;
    justify-content: space-between;
    min-height: 80vh;
    padding-top: 40px;

}
#contact h2{
    color: rgb(250, 200, 139);
}

form{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    width:700px;
}
.form-q{
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
label{
    margin-bottom: 10px;
}
input{
    height:2.5em;
}
.on-focus:focus{
    outline-color:rgb(194, 126, 42);
}
button{
    margin-top: 28px;
    width: 100px;
    align-self: center;
    margin-bottom: 40px;
    border-radius: 0;
    border: none;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: #53151f;
}

.logo{
    width: 50px;
    margin: 10px;
    filter: invert(100);
  }
  
  .logo:hover{
    filter: none;
  }

  footer{
      margin-top: 50px;
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px;
      font-size: smaller;
      background-color: black;
      width: 100vw;


  }
@media screen and (max-width:1200px) {
    #skills .content-wrapper{
        padding: 0;
    }
    .skill-card{
        max-width:100px;
        
    
    }
    .skill-card:hover{
        max-width:110px;
    }
}
@media screen and (max-width: 950px) {

    .project-pic{
        min-width:250px !important; 
        margin-right: 20px;
    }
    form{
        width: 300px;
    }
}

@media screen and (max-width: 700px) {
    #projects{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-tile{
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }
    .project-photo{
        min-height:140px !important;
    }
    .project-desc{
        max-width: 95vw !important;
    }
    #about-text{
        text-align: center;
        width:90%;
        line-height: 120%;
    }
    #about-text p{
        font-size: 0.93em;
        text-align: justify;
    }
    #about-pic{
        max-width: 200px !important;
        max-height: 234px !important;
    }  
}
@media screen and (max-width:650px) {
    #skills .content-wrapper{
        padding: 0;
    }
    .skill-card{
        max-width:65px;
    }
    .skill-card:hover{
        max-width:100px;
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 1.8em;
    }

    #welcome-section h3{
        font-size: 1em;
    }
    #hello{
        font-size: 1em;
    }
    h2{
        font-size: 2em;
    }
}
