@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: rgb(18, 13, 59);
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .typing-demo {
    width: 18ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid red;
    font-family: monospace;
    font-size: 5em;
    margin-bottom: 2vh;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.logo{
  width: 4vh;
  margin: 1vh;
  filter: brightness(100) grayscale(100);
}

.logo:hover{
  filter: none;
}